# SPDX-FileCopyrightText: 2019 Antonin Bas
#
# SPDX-License-Identifier: Apache-2.0

[coverage]
always-on = False
coverage = config_builders
           p4runtime_sh
coverage-config = .coveragerc
coverage-report =
